body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b4a9a9;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  font-size: 48px;
  letter-spacing: 2px;
}
